In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()

# ---------Load data---------

In [5]:
raw_data = pd.read_csv('./1.04.+Real-life+example.csv')

In [6]:
data = pd.read_csv('./1.01.+Simple+linear+regression.csv')

In [7]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [9]:
x = data['SAT']
y = data['GPA']

In [16]:
x.shape
x_matrix = x.values.reshape(-1, 1)

In [11]:
y.shape

(84,)

In [12]:
#regression itself

In [17]:
reg = LinearRegression()
reg.fit(x_matrix,y)

LinearRegression()

In [19]:
reg.score(x_matrix,y)

0.40600391479679765

In [21]:
reg.coef_

array([0.00165569])

In [27]:
reg.predict([[1730]])

array([3.13938063])

## Calculate R2

In [ ]:
r2 = reg.score(x_matrix,y)
n =